<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
      }
      .btn {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <p>Olá,</p>
    <p>Obrigado por se registrar! Use o código para confirmar seu e-mail:</p>
    <p>O código espira em 10 minutos</p>
    <p>"${confirmationLink}"</p>
  </body>
</html>
