.container {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  margin-bottom: 30px;
  color: var(--color-text);
  background: #427bff;
  width: 100%;
  padding: 20px 100px;
}

.item a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}
