.waveChart {
  background: var(--box-color);
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #5b5b5b;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  height: 380px;
}

.title {
  font-size: var(--font-size-title);
  padding: 10px 0px;
  border-bottom: 2px solid #4f4f4f;
  margin-bottom: 20px;
}
