.ordenableTable {
  width: 100%;
  overflow-x: auto;
  background-color: var(--box-color);
  padding: 20px;
  border-radius: 5px;
}

.tableTitle {
  font-size: 1.5em;
  padding: 10px;
  border-bottom: 2px solid #4f4f4f;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tableHeader {
  padding: 12px 0px;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.tableHeaderContent {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sortDirection {
  font-size: 0.8em;
  color: #888;
}

.tableCell {
  padding: 12px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableHeaderRow {
  background-color: var(--box-color);
  border-bottom: 2px solid #4f4f4f;
  gap: 10px;
}
