.title {
  color: var(--text-secundary);
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 15px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
  border-radius: 5px;
  width: 500px;
  background: #fff;
  margin: 0 auto;
}
.formLogin {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.link {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--color-light);

}

.span {
  color: var(--text-primary);
  font-weight: 600;
}