html {
  --font: "Poppins", sans-serif;
  --font-size: 1.25rem;
  --color: #5b86ff;
  --color-light: #52a8ff;
  --color-secundary: #3b82f6;
  --color-dark: #206;
  --radius: 0.25rem;
  --color-text: #fff;

  --text-primary: #a39a99;
  --text-secundary: #3f3f3f;


  --color-success: #16a34a;
  --color-warning: #facc15;
  --color-error: #dc2626;

  --color-link: #3b82f6;
  --color-box-border: #d1d1d1;
  --background-button-add: #3b82f6;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #f0f2f4;
}

.container {
  padding: 0px 100px;
}
