

html {
  --font: "Poppins", sans-serif;
  --font-size: 1.25rem;
  --color: #5b86ff;
  --color-light: #52A8FF;
  --color-secundary: #3B82F6;
  --color-dark: #206;
  --radius: 0.25rem;
  --color-text: #fff;

  --text-primary: #a39a99;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #cfe7ff;
  padding: 0px 100px;
}
