.transactionsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.months {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  cursor: pointer;
}

.month {
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

.selectedMonth {
  background: #30308b;
  border-radius: 5px;
}

.transactionsHeader {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.transactionsHeader div {
  background: var(--box-color);
  padding: 20px 40px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.transactionsGraphics {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
}
