.alertContainer {
  position: absolute;
  padding: 1rem;
  margin: 1rem 0;
  top: 0;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  display: flex;
  align-items: flex-start;
  min-width: 400px;
}
