.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 400px;
}

.button {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background: #30308b;
  cursor: pointer;
}

.formMode {
  border-radius: 10px;
  font-weight: 600;
  width: 100%;

  cursor: pointer;
}

.formMode div {
  padding: 5px 5px 5px 0px;
  text-align: center;
}

.formMode div.active {
  border-bottom: 2px solid #30308b;
}

.inputs {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 10px;
}

.description {
  grid-column: 1 / -1;
}
